* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightcoral;
}

.anakutu {
    border: 5px dashed;
    border-color: rgb(255, 122, 122);
    text-align: center;
    width: auto;
    max-width: 800px;
    margin: auto;
    background-color: white;    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.hafta-kutusu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

header{
    text-align: center;
    color: white;
    position: sticky;
    top: 0;
    background-color: rgb(240, 90, 90);
    width: 100%;    
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center;
}

button{
    background-color: lightcoral;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

button:hover {
    background-color: #357abd;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid lightcoral;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
