/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url('https://images6.alphacoders.com/503/thumb-1920-503081.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 20px;
    text-align: center;
}

h2{
    font-family: "Science Gothic", sans-serif;
    font-size: clamp(1rem, 5vw, 3rem);
    margin: 0;
}

ul {
    padding: 0;
}

.game-canvas{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-canvas p {
    color: rgb(255, 255, 255);
    font-family: "Science Gothic", sans-serif;
    margin-block: 6px;
}

.menu-modal, #mobileDeviceModal {
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(5px);
    transition: all .5s ease-in-out;
}

.how-to-play-modal {
    display: none;
    height: 250vh;
    max-width: 80%;
    margin-inline: auto;
    transition: all .5s ease-in-out;
}

.how-to-play-modal li {
    list-style: none;
    text-align: left;
    font-size: clamp(.5rem, 3vw, 2rem);
    padding: .1rem 1rem;
    margin-block: .75rem;
    font-family: "Science Gothic", sans-serif;
    font-weight: 600;
    border-radius: 5px;
    background-color: #f2ff00;
    color: #1d1c1c;
}

button {
    font-size: clamp(1rem, 5vw, 3rem);
    padding: .1rem 1rem;
    margin-block: clamp(.01rem, .5vw + .5vh, 1rem);
    font-family: "Science Gothic", sans-serif;
    font-weight: 700;
    border: 5px rgba(244, 229, 229, 0) solid;
    border-radius: 5px;
    background-color: #f2ff00;
    color: #1d1c1c;
}

button:hover {
    border: 5px #0011ff solid;
    cursor: pointer;
}

.game-over-modal, .win-modal{
    display: none;
    height: 250vh;
    transition: all .5s ease-in-out;
}

.game-over-bg, .win-bg{
    background-color: rgba(255, 255, 255, 0.85);
    width: clamp(300px, 50vw, 500px);
    padding: 1rem;
}

.game-over-bg{
    background-color: lightsalmon;
    color: #FFDEB9;
}

.game-over-modal button{
    background-color: #FFDEB9;
    color: rgb(252, 41, 71);
}

.game-over-modal button:hover{
    border-color: rgb(247, 136, 153);
}

#mobileDeviceModal{
    display: none;
    max-width: 90%;
    margin-inline: auto;
}

.warning{
    color: red;
    font-family: "Science Gothic", sans-serif;
    font-size: clamp(1rem, 3vw, 2.25rem);
    background-color: #FFDEB9;
    padding: 2rem .25rem;
}